*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    flex:1;
    margin-bottom: 0;
}

li{
    list-style-type: none;
}
#combined-1{
    margin-right:20%;
}
#a3{
    text-decoration: none;
    color:white;
    
}
#add_post{
    background-color: blue;
    border:white;
    padding:7px 5px;
    border-radius: .4em;
}
.profile-photo{
    border:2px solid rgb(114, 30, 209);
    border-radius: 50%;
}
#logo{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    margin-left:25%;
}
#suggestion{
    border-radius: 50%;
}
.feed{
    display:grid;
    grid-template-columns: 4fr 2fr ;
}
.post{
    margin-left:30%;
    
}
.post.img{
   
}
.suggestion p{
        margin-top:10px;
}

.alpha{
    
}
.header-1{
       display:flex;
       align-items: center;
       color:black;
       margin-top:5px;
}
.header-2{
    color:black;
    text-decoration: none;
}
#description{
    margin-top: 8px;
}
.likes-1{
    margin-top:10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    body {
      background-color: rgb(18, 166, 216);
    }
    .feed{
        display:block;
    }
    .post{
        margin-left:0;
        
    }
    .navbar{
        display: flex;
        
        margin-bottom: 0;
    }
    #combined-1{
       
    }
    #a3{
        text-decoration: none;
        color:white;
        
    }
    #add_post{
        background-color: blue;
        border:white;
        padding:7px 5px;
        border-radius: .4em;
        display:none;
    }
    .profile-photo{
        border:2px solid rgb(114, 30, 209);
        border-radius: 50%;
    }
    #logo{
        font-family: 'Dancing Script', cursive;
        font-size: 35px;
       display:none;
    }
  }