body{
    background-color: rgb(236, 240, 241);
}
.a1{
    background-color: white;
    margin-left:30%;
    margin-right:40%;
    margin-top:6%;
    border: solid rgb(168, 168, 168) 1px;
    padding-bottom:15px;
    text-align: center;
}
.btn-1{
    background-color: blue;
    color:white;
    padding:4px 10px 4px 10px;
    border-radius: .5em;
    border:solid white;
}

