body{
    background-color: rgb(241, 241, 241);
}
.change-password{
    text-align: center;
    background-color: white;
    margin-left: 35%;
    margin-right:35%;
    margin-top:7%;
    padding-top: 2em;
    padding-bottom:2em;
    border: solid lightgrey;
}
.btn-1{
    background-color: rgb(122, 86, 250);
    color:white;
    padding:.5em;
    border:solid white;
    border-radius: .5em;

}