body{
    
}
.search-1{
    margin-left:30%;
    margin-right:30%;
    padding-top:1em;
    padding-bottom:1em;
    height:500px;
    
    
}
#username{
    margin-left:2em;
    margin-top:1em;
    
}
#img{
    border-radius:50%;
}
ul{
    display:flex;
}