.a1{
    text-align: center;
}
.a2{
   
    flex-direction: column;
}
.btn-1{
    background-color: blue;
    color:white;
    padding:4px 10px 4px 10px;
    border-radius: .5em;
    border:solid white;
}