*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.img1{
    
    margin-left: 20%;
}
.img2{
    border-radius: 50%;
}

.a1{
    display:flex;
    
}
.name{
       margin-left:25em;
       color:black;
       font-weight: 200;
}
.username{
    margin-left:2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.edit-profile{
   margin-left:2em;
   margin-top:1.5em;
   background-color: white;
   border:solid 1px rgb(196, 195, 195);
   height:25px;
   padding:1px;
   color:black;
   text-decoration: none;

}
.POSTS{
    margin-left:20%;
}
.posts{
    margin-left:22%;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.uploaded-photos{
    margin-left:20%;
    margin-top:2%;
    
}
.uploaded-photo{
    border:solid white 20px;
}
#settings{
    margin-top: 2em;
    margin-left:2em;
}
.nav{
    display:flex;
    margin-bottom:0;
}
#a2{
    margin-left:20%;
    
}
#a3{
    margin-left:40%;
   
    
    
}
#follow{
    text-decoration: none;
}