{% extends 'socialapp/main.html' %}
{% block title %}Change your password{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'socialapp/password_change.css' %}">
<div class="change-password">
    <h2>Change Password</h2>
    <form method="POST">
        {% csrf_token %}
        <!--{{form.as_p}}-->
        <P>{{form.old_password.label_tag}}</P>
        <P>{{form.old_password}}</P>
        <P>{{form.new_password1.label_tag}}</P>
        <P>{{form.new_password1}}</P>
        <P>{{form.new_password2.label_tag}}</P>
        <P>{{form.new_password2}}</P>
        <input type="submit" value="change password" class="btn-1">
    </form>
</div>


{% endblock %}